[*.cs]

# IDE0079: Remove unnecessary suppression
dotnet_diagnostic.IDE0079.severity = none

# CS8321: Local function is declared but never used
dotnet_diagnostic.CS8321.severity = none

# xUnit1004: Test methods should not be skipped
dotnet_diagnostic.xUnit1004.severity = none

# IDE0305: Simplify collection initialization
dotnet_diagnostic.IDE0305.severity = none

# IDE0022: Use block body for method
dotnet_diagnostic.IDE0022.severity = none
